src/conf/xml-resources/web-service-references/ServiceHabitacionPrueba/wsdl/localhost_8084/WS_HOTEL/ServiceHabitacionPrueba.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="findHabDisponible" type="tns:findHabDisponible" />

<xs:element name="findHabDisponibleResponse" type="tns:findHabDisponibleResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findHabDisponible">
<xs:sequence>
<xs:element name="idhotel" type="xs:int" />
<xs:element name="tipohab" type="xs:int" />
<xs:element name="fd" type="xs:string" minOccurs="0" />
<xs:element name="fh" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findHabDisponibleResponse">
<xs:sequence>
<xs:element name="return" type="tns:habitacion" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="habitacion">
<xs:sequence>
<xs:element name="cod_habitacion" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="xs:string" minOccurs="0" />
<xs:element name="hotel" type="tns:hotel" minOccurs="0" />
<xs:element name="id_habitacion" type="xs:int" />
<xs:element name="numhab" type="xs:string" minOccurs="0" />
<xs:element name="piso" type="xs:string" minOccurs="0" />
<xs:element name="precio" type="xs:float" />
<xs:element name="tipo_hab" type="tns:tipoHabitacion" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotel">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="estrella" type="xs:string" minOccurs="0" />
<xs:element name="id_hotel" type="xs:int" />
<xs:element name="mail" type="xs:string" minOccurs="0" />
<xs:element name="phone1" type="xs:string" minOccurs="0" />
<xs:element name="phone2" type="xs:string" minOccurs="0" />
<xs:element name="razon_social" type="xs:string" minOccurs="0" />
<xs:element name="ruc" type="xs:string" minOccurs="0" />
<xs:element name="ubigeo" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoHabitacion">
<xs:sequence>
<xs:element name="detalle" type="xs:string" minOccurs="0" />
<xs:element name="id_tipo_hab" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>