src/conf/xml-resources/web-service-references/ServiceReserva2/wsdl/localhost_8084/WS_HOTEL/ServiceReserva2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="ServiceReserva2">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8084/WS_HOTEL/ServiceReserva2?xsd=1" />
</xsd:schema>
</types>
<message name="add_Reserva">
<part name="parameters" element="tns:add_Reserva" />
</message>
<message name="add_ReservaResponse">
<part name="parameters" element="tns:add_ReservaResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="HistorialReservaCliente">
<part name="parameters" element="tns:HistorialReservaCliente" />
</message>
<message name="HistorialReservaClienteResponse">
<part name="parameters" element="tns:HistorialReservaClienteResponse" />
</message>
<portType name="ServiceReserva2">
<operation name="add_Reserva">
<input wsam:Action="http://services/ServiceReserva2/add_ReservaRequest" message="tns:add_Reserva" />
<output wsam:Action="http://services/ServiceReserva2/add_ReservaResponse" message="tns:add_ReservaResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://services/ServiceReserva2/helloRequest" message="tns:hello" />
<output wsam:Action="http://services/ServiceReserva2/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="HistorialReservaCliente">
<input wsam:Action="http://services/ServiceReserva2/HistorialReservaClienteRequest" message="tns:HistorialReservaCliente" />
<output wsam:Action="http://services/ServiceReserva2/HistorialReservaClienteResponse" message="tns:HistorialReservaClienteResponse" />
</operation>
</portType>
<binding name="ServiceReserva2PortBinding" type="tns:ServiceReserva2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="add_Reserva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="HistorialReservaCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServiceReserva2">
<port name="ServiceReserva2Port" binding="tns:ServiceReserva2PortBinding">
<soap:address location="http://localhost:8084/WS_HOTEL/ServiceReserva2" />
</port>
</service>
</definitions>